* {
    margin: 0;
    padding: 0;
}

#header {
    width: 999px;
    height: 100px;
    background: white;
    margin: 0 auto;
}

#header .logo {
    width: 249px;
    height: 31px;
    background: red;
    float: left;
    margin: 39px 0px 30px 19px;
}

#header .search {
    width: 230px;
    /*height: 31px;*/
    /*width: 228px;*/
    height: 29px;
    background: blue;
    float: right;
    margin: 39px 20px 31px 0px;
    background: #f1f1f1;
    border: 1px solid #fefefe;
}

#header .search .text {
    height: 29px;
    /*width: 204px;*/
    width: 188px;
    border: none;
    float: left;
    padding-left: 16px;
    font-size: 10px;
    background: #f1f1f1;
}

#header .search .bt {
    height: 29px;
    width: 26px;
    float: left;
    background: url("../image/search.png") no-repeat left center;
    border: none;
}

#nav {
    width: 999px;
    height: 60px;
    background: black;
    margin: 0 auto;
}

#nav ul {
    padding-left: 25px;
}

#nav ul li {
    float: left;
    list-style: none;
    width: 120px;
    height: 60px;
    text-align: center;
    border-right: 1px #4a4a4a solid;
    line-height: 60px;
    font-size: 13px;
}

#nav ul li a {
    color: white;
    text-decoration: none;
}

#banner {
    width: 999px;
    height: 464px;
    background: red;
    margin: 0 auto;
}

#news {
    width: 999px;
    height: 547px;
    background: silver;
    margin: 0 auto;
}

#footer {
    width: 999px;
    height: 332px;
    background: blanchedalmond;
    margin: 0 auto;
}